html,body {
    margin:0;
    padding:0;
    height: 100%;
}

.full-bar {
    padding: 0;
    height: 100%;
}

.no-margins {
    margin: 0;
}

ul#days {
    list-style: none;
    padding: 0;
    height: 100%;
    overflow: scroll;
    overflow-x:hidden;
    border-bottom: 1px solid gray;
}

#days li {
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
}

#days li > a {
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#map {
    height: 75%;
    min-height: 200px;
}

#description {
    height: 25%;
    min-height: 110px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

#description #info {
    height: 100%;
    overflow: hidden;
    padding: 0 20%;
    width: 100%;
}

#banner {
    background-color: black;
    min-height: 300px;
    margin-bottom: 20px;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#banner > div {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 20px;
}

#banner h2 {
    margin-top: 10px;
}

#banner form {
    padding: 0px 0px 10px;
    height: 60px;
}

#banner input {
    color: gray;
    height: 50px;
    font-size: 18px;
}

.space {
    margin-bottom: 20px;
}

.trip-thumbnail {
    box-shadow: 0 0 10px #888888;
    text-align: center;
    padding-bottom: 10px;
    overflow: hidden;
    border-radius: 5px;
}

.trip-thumbnail .trip-header {
    position: relative;
    min-height: 192px;
}

.trip-thumbnail .trip-header > img {
    display: inline;
}

.trip-thumbnail .trip-header .trip-title {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    color: white;
}

.trip-thumbnail .trip-desc {
    padding: 20px;
}

.container h2 {
    text-align: center;
    border-bottom: 2px solid #000;
    line-height:0.1em;
    margin: 20px 0 50px;
} 

.container h2 span {
    background:#fff;
    padding:0 20px;
}

div#map div.leaflet-marker-pane img:nth-child(-n+2){
    visibility: hidden;
}

p#trip-description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}

footer {
    background-color: #242424;
    color: white;
    clear: both;
}

div.footer-column p {
    font-size: 12pt;
    line-height: 1.7;
}

div.footer-column ul {
    padding-left: 16px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;

    -webkit-column-width: 30%; /* Chrome, Safari, Opera */
    column-width: 30%;
}

div.footer-column li {
    padding: 10px 0;
}

div#copy p {
    padding-top: 9px;
    text-align: right;
}

#stats {
    text-align: center;
    padding: 20px 10px;
}

h2#no-trips {
    color: gray;
}