.top-margin-10 {
	margin-top: 10px;
}

.top-margin-50 {
	margin-top: 50px;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

h1 {
	color: blue;
}

h1 span.red {
	color: red;
}

.underline {
	text-decoration: underline;
}

#header { 
	border: 1px solid #A4A4A4;
}

#error-box {
	border: 1px solid #FF0000;
	padding: 25px;
	font-size: 20pt;
}

#searchForm {
	margin: 20px 0;
}

#searchForm input[type=text] {
	width: 500px;
	height: 50px;
	margin: 0 20px 0 0;
	font-size: 20pt;
}

.submitBtn {
	width: 250px;
	height: 50px;
	font-size: 20pt;
	background-color: #FFF;
}

#resultsTable {
	width: 100%;
}

#resultsTable td {
	padding: 15px;
	min-width: 30px;
	border: 1px solid #C0C0C0;
}

#resultsTable .td-center {
	text-align: center;
}

#resultsTable .td-emphasis {
	font-weight: bold;
}

#resultsTable tr.less-padding > td {
	padding: 5px;
}

#resultsTable tr.borderless > td {
	border: none;
}

.pagination-container {
	text-align: center;
}

.pagination-container > a {
	margin: 10px;
	font-size: 14pt;
	color: #6c6c6c;
	text-decoration: none;
}

.pagination-container > a:hover {
	color: #d5d5d5;
	font-weight: bold;
}

.pagination-container > a.current-page {
	color: #000;
	font-weight: bold;
}