/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
div#container {
    width: 70%;
    min-width: 350px;
    border: 1px solid darkGray;
    border-radius: 3px;
    margin: 20px auto;
    padding: 5%;
}
h1 {
    text-align: center;
    margin-top: 0;
}

h2 {
    margin: 0;
}

input#newTodo {
    height: 30px;
    width: 80%;
    font-weight: bold;
}
button {
    background: lightGray;
    border: solid 1px darkGray;
    border-radius: 3px;

    -webkit-box-shadow: 0px 3px 0px darkGray;
    -moz-box-shadow: 0px 3px 0px darkGray;
    box-shadow: 0px 3px 0px darkGray;
}

button#addBtn {
    width: 15%;
    height: 30px;
    float: right;
    margin: 2px;
}

textarea {
    height: 60px;
    width: 100%;
    color: darkGray;
    resize: none;
    margin-top: 5px;
}

p#error {
    text-align: center;
    background-color: red;
    height: 0px;
    visibility: hidden;
}

hr {
    width: 60%;
    margin: 10px auto;
}

div.todo-task {
    border: 1px solid darkGray;
    border-radius: 3px;
    padding: 2%;
    overflow: hidden;
    opacity: 1;
    margin-top: 15px;
}

div.todo {
    float: left;
    width: 89%;
    border-right: 1px solid darkGray;
}

div.todo p {
    margin-top: 0;
}

div.todo-task button.delete {
    float: right;
    padding: 5px;
    width: 30px;
    height: 30px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}