div#navigation-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 4;

    height: 120px;
}

div#navigation-footer nav {
    text-align: center;
    height: 100%;
}

div#navigation-footer nav a {
    height: 100%;
    width: 24%;
    display: inline-block;
}

div#navigation-footer nav a img {
    object-fit: none;
    width: 85px;
    height: 120px;
}

img#wall {
  object-position: -17px 0;
}
img#upload {
  object-position: -119px 0;
}
img#profile {
  object-position: -233px 0;
}
img#out {
  object-position: -393px 0;
}

img#profile-picture {
    background-color: gray;
    background-image: url(http://lorempixel.com/300/300/nature);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: inline-block;
    
    width: 200px;
    height: 200px;

    border-radius: 50%;
    border: 5px solid #f5f5f5;

    -webkit-box-shadow: 0 0 15px gray;
    -moz-box-shadow: 0 0 15px gray;
    box-shadow: 0 0 15px gray;

    margin: 25px auto;
}

.profile-header .profile-info .header-fullname {
    font-size: 21px;
    margin-top: 90px;
    display: inline-block;
}

.profile-header .profile-info .header-information {
    line-height: 23px;
    margin-top: 15px;
    text-align: justify;
}

div.posts {
    overflow: hidden;
    width: 100%;
    margin-bottom: 120px;
}

div.post {
    margin-bottom: 30px;
    padding: 0 10px;
}

.post-content {
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    overflow: hidden;

    height: 300px;
    border-radius: 5px;

    text-align: center;

    -webkit-box-shadow: 0px 0px 5px gray;
    -moz-box-shadow: 0px 0px 5px gray;
    box-shadow: 0px 0px 5px gray;
    position: relative;
}

.liked {
    -webkit-box-shadow: 0 0 15px red;
    -moz-box-shadow: 0 0 15px red;
    box-shadow: 0 0 15px red;
}

div.post:hover .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius:30px;
}

div#post-image input {
    margin: 10px auto;
}

img#placeholder-image {
    height: 300px;
    min-width: 300px;
    /*background: gray;*/
}

div#post-image {
    width: 60%;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 110px;
}

h3#logo {
    margin-top: 10px;
}

h3#logo a {
    text-decoration: none;
}
#login-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;

    border: 1px solid gray;

    background: url(http://img00.deviantart.net/3877/i/2013/270/3/a/rapunzel_s_tower_by_consideredbypeers-d6o613m.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.top-margin {
    margin-top: 80px;
}

h3#sign {
    text-align: center;
    color: white;
    background-color: #EF5B30;
}

div#comments-section {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

ul#comments-list {
    float: left;
    margin-bottom: 120px;
}

ul#comments-list li {
    list-style: none;
}

.alert {
    color: red;
}

.center-container {
    text-align: center;
    margin-bottom: 130px;
}

.right-float {
    float: right;
}