/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    width: 100%;
    height: 100%;
    min-height: 1080px;
    min-width: 960px;
    padding: 0;
}

a {
    text-decoration: none;
}

div.container-background {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

div#top-container {
    height: 670px;
    background-image: url(../img/top-container-background.jpg);
}

div.colored-container {
    width: 960px;
    height: 100%;
    margin: 0 auto;
}

div#top-container div.colored-container > header{
    height: 75px;
}

a#tajam-logo {
    float: left;
    display: block;
    margin: 10px;
    width: 128px;
    height: 50px;
    background-image: url(../img/tajam-logo.png);
}

nav.navigation {
    padding-top: 25px;
    height: 50px;
}

nav.navigation a {
    padding: 0 10px;
    color: #FFF;
    font-weight: bold;
    font-size: 9pt;
}

nav.navigation a:hover {
    color: #25DFCF;
}

div#top-text-block {
    float: left;
    width: 80%;
    height: 340px;
    padding: 10%;
    margin-top: 50px;
    text-align: center;
}

div#top-text-block > h1{
    color: #FFF;
    margin: auto;
}

hr {
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    border-color: #25DFCF;
}

div#top-text-block > p {
    color: white;
    line-height: 25px;
    font-size: 10pt;
    margin-top: 0;
}

.anchor-box {
    margin: 70px auto;
    border: 1px solid #25DFCF;
    color: #25DFCF;
    display: block;
    width: 120px;
    padding: 10px 0;
    border-radius: 2px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
}

div#our-story {
    width: 880px;
    height: 400px;
    margin: 0 auto;
}

div#our-story img {
    width: 235px;
    height: 235px;
    margin: 82.5px 0;
}

div#story-desc {
    width: 65%;
    margin: 48.5px 0;
}

div#story-desc a {
    margin: 0;
}

div#story-vid {
    height: 550px;
    background-image: url(../img/top-container-background.jpg);
    text-align: center;
    overflow: hidden;
}

div#story-vid a {
    color: white;
}

div.center-container {
    margin: 235px 0;
}

div#expertise {
    height: 615px;
    width: 960px;
    margin: 70px auto;
    text-align: center;
}

div#skills {
    margin-top: 50px 0;
}

div.skill {
    width: 318px;
    height: 250px;
    float: left;
}

div.skill img {
    margin: 30px 0 14px 0;
    width: 50px;
    height: 50px;
}

div.skill p {
    margin: 25px 30px;
}

div.border-top {
    border-top: 1px solid LightGray;
}

div.border-sides {
    border-left: 1px solid LightGray;
    border-right: 1px solid LightGray;
}

div#team {
    height: 710px;
    background-image: url(../img/top-container-background.jpg);
    text-align: center;
    overflow: hidden;
    color: white;
}

div#team > div {
    width: 940px;
    margin: 70px auto;
    overflow: auto;
}

div.employee {
    border: 1px solid gray;
    width: 220px;
    height: 305px;
    font-size: 10pt;
    float: left;
    margin-left: 17px;
}

div.employee:first-of-type {
    margin-left: 0;
}
div.employee img {
    width: 220px;
    height: 230px;
}

div#team p {
    clear: both;
    padding-top: 70px;
}

div#team a {
    margin-top: 25px;
    margin-bottom: 0;
}

div#our-works {
    height: 160px;
    clear: both;
}

div#our-works h2 {
    margin: 63px 0;
}

div#our-works a {
    margin: 69px 0;
    color: black;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

div#chequered-container {
    height: 400px;
}

div.box {
    height: 200px;
    width: 16.667%;
    float: left;
}

div.chequer-1 {
    background-color: #B6B6B6;
}

div.chequer-2 {
    background-color: #ACACAC;
}

div.chequer-3 {
    background-color: #A1A1A1;
}

div.chequer-4 {
    background-color: #8A8A8A;
}

div.chequer-5 {
    background-color: #A4A4A4;
}

div#policy-container {
    height: 500px;
    background-image: url(../img/top-container-background.jpg);
    overflow: hidden;
}

div#policy {
    width: 500px;
    text-align: center;
    margin: 79px auto;
    color: white;
}

div#policy ul {
    padding: 0;
}

h4#author {
    font-size: 10pt;
    margin: 50px 0;
}

h4#author span{
    font-weight: 100;
}
div#policy li {
    display: inline;
    margin: 0 5px;
    cursor: pointer;
}

img.person-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

img.displayed-person {
    width: 70px;
    height: 70px;
}
div#contact {
    width: 940px;
    height: 650px;
    margin: 0 auto;
}

div#contact input[type="submit"] {
    border: 1px solid #25DFCF;
    color: #25DFCF;
    display: block;
    width: 120px;
    padding: 10px 0;
    border-radius: 2px;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
}

div#contact input[type="text"] {
    width: 458px;
    height: 45px;
    margin: 12px 0;
}

textarea {
    resize: none;
    margin: 12px 0;
    width: 458px;
    height: 250px;
}

footer {
    height: 400px;
    background-image: url(../img/top-container-background.jpg);
    overflow: hidden;
}
div#footer-container {
    width: 940px;
    margin: 80px auto;
    height: 400px;
    color: white;
}

div.footer-column {
    width: 295px;
    float: left;
    margin-left: 25px;
}

div.footer-column p {
    font-size: 12pt;
    line-height: 1.7;
}

div.footer-column ul {
    padding-left: 16px;
}

div.footer-column li {
    margin: 10px 0;
}

div.footer-column:first-child {
    margin-left: 0;
}

.clear-float {
    clear: left;
}

div#footer-container input[type="submit"] {
    background-color: rgba(255,255,255,0.5);
    border: none;
    width: 70px;
    height: 45px;
}

div#footer-container input[type="text"] {
    width: 210px;
    height: 39px;
    float: left;
    margin-right: 10px;
    color: black;
    background-color: transparent;
    border: 1px solid gray;
}

div#copy {
    clear: both;
    width: 100%;
    overflow: hidden;
}

div#copy p {
    padding-top: 9px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}