/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body, html {
	background-color: #ECECEC;
}

a {
    text-decoration: none;
}
div#header {
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
}

.green {
    color: #62b97f;
}

h2#logo {
    float: left;
    color: black;
}

a.header-nav-btn{
    color: gray;
    float: right;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0;
    margin: 20px;
}

a#logged-in {
    color: gray;
    float: right;
    padding: 0;
    margin: 20px;
}

a.header-nav-btn:hover, a#logged-in:hover {
    /*border-color: #62b97f;*/
    color: #62b97f;
}

a.header-nav-btn h3, a#logged-in h3 {
    font-weight: lighter;
    padding: 5px;
    margin: 0;
}

hr {
    border-color: #62b97f;
    margin-top: 0;
}

div#container {
    margin: 0 auto;
    width: 1030px;
    overflow: hidden;
}

div#container form {
    background-color: white;
    text-align: center;
    padding: 5%;
}

div#container form input {
    margin: 10px 0;
}

input#input-title {
    width: 95%;
    height: 50px;
    font-size: 14pt;
    padding-left: 5px;
}

textarea#textEdit {
    width: 95%;
    height: 200px;
    padding: 10px;
}

div.article {
    background-color: white;
    width: 303px;
    height: 200px;
    border-radius: 5px;

    color: black;

    float: left;
    margin: 10px;
    padding: 10px;
    text-align: center;

    -webkit-box-shadow: 0px 0px 5px gray;
    -moz-box-shadow: 0px 0px 5px gray;
    box-shadow: 0px 0px 5px gray;
}
div.article:hover {
    -webkit-box-shadow: 0px 0px 15px #62b97f;
    -moz-box-shadow: 0px 0px 15px #62b97f;
    box-shadow: 0px 0px 15px #62b97f;
}

ul.pagination {
    clear: left;
    text-align: center;
    padding: 0;
}

ul.pagination li{
    display: inline;
    margin: 0 10px;
}

ul.pagination li a {
    color: green;
}

h3.article-title {
    margin: 0;
}
p.article-author {
    margin-top: 0;
    font-size: 8pt;
}
p.article-date {
    margin-bottom: 0;
    font-size: 8pt;
}

div#single {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;

    background-color: white;
    text-align: center;

    -webkit-box-shadow: 0px 0px 5px gray;
    -moz-box-shadow: 0px 0px 5px gray;
    box-shadow: 0px 0px 5px gray;

    overflow: hidden;
}

.right-float {
    float: right;
}

.left-float {
    float: left;
}

.alert {
    color: red;
    text-align: center;
}

h3#empty {
    color: gray;
    text-align: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
