/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #006992;	
}

div#container {
	margin: 0 auto;
	width: 70%;
	min-width: 550px;
	border: 1px solid #FFC814;
	text-align: center;
	background-color: white;
}

span#prefix {
	background: -webkit-linear-gradient(black, #ED6A5A);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

span#title {
	background: -webkit-linear-gradient(#ED6A5A, black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

div#link-insert {
	width: 83%;
	margin: 0 auto;
	background-color: #FFC814;
	text-align: left;
	height: 35px;
}
input[type='text'] {
	width: 83%;
	height: 31px;
	border: 1px solid #FFC814;
	color:  #006992;
}
button#load {
	height: 35px;
	width: 15%;
	border: none;
	background-color: transparent;
	color:  #006992;
}
button#load:hover {
    background-color: #006992;
    color:  #FFC814;
}

.wait {
    visibility: hidden;
}

#loadLink {
    width: 100px;
    height: 50px;
}

div#result {
    overflow: hidden;
    margin: 25px auto;
    width: 90%;
    padding: 10px;
}
.extract {
	width: 40%;
	height: 250px;
    overflow: scroll;
    border: 1px solid black;
    float: left;
    padding: 10px 0;
    -webkit-box-shadow: 0px 0px 20px #faee0d;
    -moz-box-shadow: 0px 0px 20px #faee0d;
    box-shadow: 0px 0px 20px #faee0d;
}
.right-float {
    float: right;
}
#action {
    width: 18%;
    float: left;
}

#action button {
    margin-top: 10px;
}

#loadSum {
    width: 80%;
    height: 80%;
    padding: 5px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}